.box1 {
    background-color: #ec0c0c;
    height: 120px;
    color: white;
    font-size: 100px !important;
  }
  
  .redes {
    color: white;
    font-size: 200px ;
    margin-top: 5px;
  }
  
  .copyright {
    background-color: #3434f3;
    height: 60px;
    color: white;
  }