.box1 {
    background-color: #ec0c0c;
    height: 120px;
    color: white;
    font-size: 100px !important;
  }
  
  .redes {
    color: white;
    font-size: 200px ;
    margin-top: 5px;
  }
  
  .copyright {
    background-color: #3434f3;
    height: 60px;
    color: white;
  }
.text-decorator-none {
  text-decoration: none !important;
}

.fundoFoo {
  background-image: url(https://user-images.githubusercontent.com/106706431/194206551-64b582bb-a4be-4df1-b29c-0bdf8151b2e0.jpg);
    width: 70px;
    height: 90px;
}