.cursor {
    cursor: pointer;
    color: white;
  }
  
  .text-decorator-none {
    text-decoration: none !important;
  }
  
  .btn-logout:hover {
    color: white;
    background: lightblue !important;
  }

  .fundo1 {
    background-color: aqua;
  }

  .txt7 {
    font-family: 'Noto Serif', serif !important;
  }

  h6 {
    font-family: 'Libre Baskerville', serif !important;
  }