

.textos2{
    font-weight: bold !important;
}

.btn-login1 {
    background: linear-gradient(45deg, #ec2e2e 30%, #d68888 100%) !important;
    border: 0;
    border-radius: 3;
    color: rgb(226, 0, 0);
    height: 6vh;
    padding: 0 30px;
  }

  .btnCancelar {
    margin-right: 20px !important;
  }

  .fundo2 {
    background-image: url(https://i.imgur.com/PWgze5O.jpg);
    width: 300px;
    height: 690px;
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
  }

  .corfund3 {
    background-color: #030522;
    }